.imgNFT {
    width: 100%;
    max-width: 150px;
}

.headerNFT {
    min-height: 300px;
    border-width: 2px;
    border-color: brown;
}

.contentNFT {
    min-height: 100px;
}

.footerNFT {
    min-height: 200px;
    border-width: 2px;
    border-color: brown;
}