// flatuicolors.com pour avoir de thèmes de couleurs
:root {
    --primary: #186aa9;
    --gray-1: #20232a;
    --gray-2: #eef3f7;
    --font-family: 'Montserrat', sans-serif;
    --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
    --box-shadow-nav: #dfa9bb 0px 2px 18px 0px;
    --text-color: ##61558d;
}